.NewPostCreator {
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    height: auto;
    box-sizing: border-box;
}

.NewPostCreator textarea {
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    resize: none;
    border-radius: 15px;
    border: 2px solid #eee;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 20px 20px;
    outline: none;
    letter-spacing: 1.3px;
}

.NewPostCreator footer {
    display: flex;
    justify-content: space-between;
}
