.ChatList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    border-radius: 15px;
    min-width: 200px;
    height: 100vh;
}

.ChatList button {
    margin-top: auto;
}