hr {
    border: 1px solid #eee;
    width: 80%;
}

.Navbar {
    background: #fff;
    border-radius: 15px;
    min-width: 200px;
    height: 100vh;
}

.logo {
    margin: 20px 50px;
}

.navLinks {
    display: flex;
    flex-direction: column;
}

.navLinks a {
    margin: 20px 50px;
    text-decoration: none;
}

.navLinks a.active {
    color: red
}