* {
    margin: 0;
    padding: 0;
}

body {
    background: #F3F3F3;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    grid-area: header;
}

.profile {
    grid-area: profile;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: friends;
}

.App {
    display: grid;
    grid-template-areas:
            'header header header'
            'profile main friends';
    column-gap: 80px;
    row-gap: 30px;
    grid-template-columns: 3fr 6fr 3fr;
}